ul#navi
  li #[a(href="../demo/index.html") Home]
  li #[a(href="index.html") 電脳麻将]
  li #[a(href="https://github.com/kobalab/Majiang" target="_blank") GitHub]
  li #[a(href="https://www.amazon.co.jp/dp/4798067881" target="_blank") 書籍]
