.hide
    display: none !important
.fadeout
    opacity: 0 !important

@keyframes blink
    100%
        opacity: 0.2
@keyframes blink-img
    100%
        opacity: 0.7

body
    -webkit-text-size-adjust: 100%

#loaddata
    display: none

input
textarea
button
select
    font-size: 100%

input
textarea
    font-family: fixed-font

button
input[type="submit"]
input[type="reset"]
input[type="button"]
    font-family: menu-font
    padding: 1px 1em
    border: solid 1px
    border-radius: 4px
    background: #ddd
    color: black
    -webkit-appearance: none
select
    font-family: menu-font
    padding: 1px 0.5em
    border: solid 1px
    border-radius: 4px
    background: #ddd
    color: black

input::placeholder
    color: #999
    opacity: 1
