body.board
    width: 800px
    height: 100dvh
    #board
        display: block
    margin: 0 auto
    background: black
    color: white

#space
    display: none
    background: #666

#board
    display: none
    position: relative
    .board
        width: 800px
        background: #154
        box-sizing: border-box
        border: solid 5px #2a8
    .controller
        box-sizing: border-box
        border: solid 2px #666

@media screen and (min-width: 820px)
    body.board
        #board
            .controller
                position: absolute
                top: 0
                transform: translate(80px, 100px)
                width: 160px
                height: 100px

@media screen and (max-height: 680px)
    body.board
        #navi
        > .version
            display: none
        #space
            display: block
            height: 100px

/*
    @import "desktop"
*/
#board
    .board
        height: 680px
    .controller
        height: 40px

@media screen and (max-height: 450px)
    /*
        @import "mobile"
    */
    body.board
        #board
            .board
                height: 450px
            .controller
                position: absolute
                top: 0
                right: 0
                width: 40px
                height: 450px
