body.demo
    color: white
    background: #036
    margin: 0 10px 20px
    font-size: 12px
    font-family: menu-font

    h1
        display: none

    .shan
        .pai
            pai-size: 40px

    .shoupai
        shoupai-size: auto 84px 56px 56px

    .he
        he-size: 600px 40px line
        .live
            font-size: 0

    .status
        margin: 1em auto
        a
            color: inherit
        .live
            font-size: 0
    .paili
        .pai
            pai-size: 32px
        img
            vertical-align: middle
    .dialog
        display: table
        transition: opacity 0.4s ease-in-out
        line-height: 1
        .shan
            .baopai
                float: left
            .fubaopai
                float: right
        .shoupai
            clear: both
        .hupai
            margin-top: 10px
            min-width: 280px
            font-size: 24px
            font-family: title-font
            .fanshu
            .defen
                text-align: right

    form
        div
            margin: 2px 0
        span
            margin-right: 1em
        input[name="paistr"]
            width: 18em
        input[name="baopai"]
        input[name="fubaopai"]
            width: 2em
            text-align: center
