body.demo
    color: white
    background: #036
    margin: 0 10px 20px
    font-size: 12px
    font-family: menu-font

    h1
        display: none

    .shoupai
        shoupai-size: 640px 84px 56px 56px

    .he
        he-size: 600px 40px line

    .status
        margin: 1em auto
    .paili
        pai-size: 32px
        img
            vertical-align: middle
