#board .board .score
    box-sizing: border-box;
    width: 280px
    height: 160px
    transform: translate(260px, 260px)
    border-radius: 4px
    padding: 4px
    font-size: 14px
    .jushu
        padding: 4px
        font-size: 32px
    img.chouma
        width: 60px
        height: 8px
    .shan
        .pai
            pai-size: 40px
