@charset "UTF-8"
@import "font"
@import "base"
@import "pai"
@import "shoupai"
@import "he"
@import "navi"
@import "title"
@import "layout"
@import "desktop"
@import "board"
@import "demo"

@import "test-ui"
