#navi
    font-size: 12px
    font-family: menu-font
    margin: 0
    padding: 0
    text-align: right
    a
        color: inherit
        text-decoration: none
    li
        display: inline-block
    li + li:before
        content: ' | '
