body.room
    color: black
    background: white
    margin: 0 10px 15px
    #room
        display: block
    > .version
        display: none

#room
    display: none
    h1
        margin-top: 0
        font-size: 24px
        border-bottom: solid 2px black
        img
            height: 36px
            vertical-align: bottom
    > .version
        margin-top: -2.4em
        font-size: 16px
        font-family: defen-font
        text-align: right
    .netplay
        margin: 10px 0
        font-size: 14px
        font-family: menu-font
        img
            width: 2em
            vertical-align: middle
            border-radius: 50%
            margin-right: 0.5em
        .name
            display: inline-block
            vertical-align: middle
            font-size: 120%
            width: 8em
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis
        form
            margin-right: 0.5em
            display: inline-block
