mianzi-size($height)
    display: inline-block
    pai-size: $height
    .rotate
        display: inline-block
        white-space: nowrap
        text-align: left
        width: $height
        transform-origin: 0% 0%
        transform: rotate(270deg) translate(- $height, 0px)
