shoupai-size($width, $height, $bingpai-height, $fulou-height)
    display: table
    width: $width
    height: $height
    .bingpai
        line-height: 1
        margin-top: $height - $bingpai-height
        float: left
        pai-size: $bingpai-height
        .pai.zimo
            margin-left: pai-width($bingpai-height) * 0.1
        .pai.deleted
            transition: width 0.3s ease-out 0.1s
            opacity: 0
            width: 0
    .fulou
        line-height: 1
        margin-top: $height - $fulou-height
        float: right
        .mianzi
            margin-left: pai-width($bingpai-height) * 0.15
            float: right
            mianzi-size: $fulou-height

mianzi-size($height)
    display: inline-block
    pai-size: $height
    .rotate
        display: inline-block
        white-space: nowrap
        text-align: left
        width: $height
        transform-origin: 0% 0%
        transform: rotate(270deg) translate(- $height, 0px)
