body.font
    dl
        margin-left: 40px
        font-size: 18px
    dt
        font-family: fixed-font
    .title
        font-family: title-font
        font-size: 28px
    .text
        font-family: text-font
        font-size: 24px
    .menu
        font-family: menu-font
    .defen
        font-family: defen-font
    .fixed
        font-family: fixed-font

body.pai
    pai-size: 49px;

body.mianzi
    .mianzi
        line-height: 1
        margin-top: 12px
        mianzi-size: 49px

body.shoupai
    .shoupai
        margin-top: 1em
        background: #036
        padding: 4px
    .shoupai:nth-child(1)
        shoupai-size: auto 50px 35px 35px
        min-width: 350px
    .shoupai:nth-child(2)
        shoupai-size: 420px 40px 35px 28px
    .shoupai:nth-child(3)
        shoupai-size: 380px 80px 35px 28px
