- var page = 'blink'
doctype html
html(lang="ja")
  head
    include ../inc/meta
    title blink
    include ../inc/style
    style.
      .text {
        animation: blink 2s infinite
      }
      .box {
        background: #060;
        padding: 1em;
      }
      img {
        width: 40px;
        height: 40px;
        animation: blink-img 0.5s infinite
      }
  body.blink
    h1 blink
    div.text
      | Blinking text...
    div.box
      img(src="https://kobalab.net/majiang/img/icon.png")
