- var page = 'fadein'
doctype html
html(lang="ja")
  head
    include ../inc/meta
    title fadeIn
    include ../inc/style
    include ../inc/script
    style.
      #box {
        width: 160px; height: 160px;
        background: navy;
        margin: 20px;
        transition: opacity 0.4s ease-in-out;
      }
    script.
        const { show, hide, fadeIn, fadeOut } = Majiang.UI.Util;
        $(function(){
            const box = $('#box');
            $('input[value="show"]').on('click', ()=>show(box));
            $('input[value="hide"]').on('click', ()=>hide(box));
            $('input[value="fadeIn"]').on('click', ()=>fadeIn(box));
            $('input[value="fadeOut"]').on('click', ()=>fadeOut(box));
        });
  body.fadein
    input(type="button" value="show")
    input(type="button" value="hide")
    |  / 
    input(type="button" value="fadeIn")
    input(type="button" value="fadeOut")
    div#box
    hr
