doctype html
html(lang="ja")
  head
    include ../inc/meta
    title blink
    include ../inc/style
    include ../inc/script
    style.
      .row {
        display: flex;
      }
      .flip {
        height: 35px;
      }
      img, .row input {
        box-sizing: border-box;
        width: 25px;
        height: 35px;
      }
    script.
      const { flipInput } = Majiang.UI.Util;
      $(function(){
          flipInput($('.flip'));
      });
  body.blink
    h1 flipInput
    .flip(tabindex="0")
      .qipai
        - for (let i = 0; i < 8; i++)
          img(src="img/pai.gif")
      input(size="10")
    hr
    each md in ['mo','da']
      .row(class=md)
        - for (let i = 1; i < 5; i++)
          .flip(tabindex=i)
            img(src="img/pai.gif")
            input(size="1")
