- var page = 'font'
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title font
    include ../inc/style
    include ../inc/script
  body.font
    h1 font
    dl
      dt title-font
      dd.title
        | 電脳麻将 チー abcdefg 1234567890
      dt text-font
      dd.text
        | 電脳麻将 チー abcdefg 1234567890
      dt menu-font
      dd.menu
        | 電脳麻将 チー abcdefg 1234567890
      dt defen-font
      dd.defen
        | 電脳麻将 チー abcdefg 1234567890
      dt fixed-font
      dd.fixed
        | 電脳麻将 チー abcdefg 1234567890
