doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title test-ui
  body
    h1 test-ui
    ul
      li
        a(href="font.html") font
      li
        a(href="form.html") form
      li
        a(href="blink.html") blink
      li
        a(href="fadein.html") fadeIn
