doctype html
html(lang="ja")
  head
    include ../inc/meta
    title mianzi
    include ../inc/style
    include ../inc/script
    script.
        $(function(){
            const pai    = Majiang.UI.pai('#loaddata');
            const mianzi = Majiang.UI.mianzi(pai);
            function submit() {
                let m = $('[name="mianzi"]').val();
                $('body .mianzi').empty().append(mianzi(
                                        Majiang.Shoupai.valid_mianzi(m)||''));
                return false;
            }
            $('form').on('submit', submit);
        });
  body.mianzi
    h1 mianzi
    include ../inc/loaddata
    form
      input(name="mianzi" size="5")
    .mianzi
