- var page = 'pai'
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    title scale
    include ../inc/style
    include ../inc/script
    style.
      img {
        vertical-align: bottom;
        margin-left: 5px;
      }
    script.
        $(function(){
            const pai = Majiang.UI.pai('#loaddata');
            for (let s of ['m','p','s','z']) {
                for (let n = 0; n <= 9; n++) {
                    $('div').append(pai(Majiang.Shoupai.valid_pai(s+n)||"_"));
                }
                $('div').append($('<br>'));
            }
        });
  body.pai
    h1 pai
    include ../inc/loaddata
    div
