- var page = 'paili'
- var width = 800
doctype html
html(lang="ja")

  head
    include ../inc/meta

    title 電脳麻将: 牌理

    include ../inc/style
    include ../inc/script

  body.demo
    include ../inc/loaddata
    include ../inc/resize
    h1 牌理
    include ../inc/navi
    .version ver. #{version}
    
    form
      input(type="button" value="新規")
      |  | 手牌
      input(type="text" name="paistr")
      input(type="submit" value="選択")
      input(type="reset" value="リセット")
    
    hr
    
    .he
      .lizhi
        img.chouma.hide(src="img/1000.gif")
      .dapai
      
    .shoupai
      .bingpai
      .fulou
    
    .status
    .paili
      .row
        | 打: 
        span.da
        |  摸: 
        span.mo
        |  (
        span.n
        | 枚)
