- var page = 'paili'
- var width = 800
doctype html
html(lang="ja")

  head
    include ../inc/meta

    title 電脳麻将: 牌理

    include ../inc/style
    include ../inc/script

  body.demo
    include ../inc/loaddata
    h1 牌理
    include ../inc/navi
    .version ver. #{version}
    
    form
      | 手牌
      input(type="text" name="paistr")
    
    hr
    
    .he
      .lizhi
        img.chouma.hide(src="img/1000.gif")
      .dapai
      
    .shoupai
      .bingpai
      .fulou
    
    .status
