- var width = 800
doctype html
html(lang="ja")

  head
    include ../inc/meta

    title 電脳麻将: 牌理

    include ../inc/style
    include ../inc/script

  body.demo
    h1 牌理
    include ../inc/navi
    .version ver. #{version}
    
    hr
