- var page = 'selector'
doctype html
html(lang="ja")
  head
    include ../inc/meta
    title form
    include ../inc/style
    include ../inc/script
    style.
      .box {
        display: inline-block;
        width: 40px;
        height: 40px;
        border: solid 1px #666;
        outline-color: red;
      }
      .box.selected {
        background: #ccc
      }
      .plate {
        margin: 4px 0;
        width: 230px;
        height: 16px;
        border: solid 1px #666;
        outline-color: red;
      }
      .plate.selected {
        background: #ccc
      }
    script.
        const { setSelector } = Majiang.UI.Util;
        $(function(){
            $('.box, .plate').on('click', (ev)=>{
                $(".box, .plate").removeClass('selected');
                $(ev.target).addClass('selected');
            });
            setSelector($('.box'), 'box');
            setSelector($('.plate'), 'plate', {
                            prev: 'ArrowUp', next: 'ArrowDown',
                            focus: null, touch: false });
        });
  body.selector
    h1 selector
    div.col
      each n in [ 1, 2, 3, 4, 5 ]
        div.box
    div.row
      each n in [ 1, 2, 3, 4, 5 ]
        div.plate
