doctype html
html(lang="ja")
  head
    include ../inc/meta
    title shoupai
    include ../inc/style
    include ../inc/script
    script.
        $(function(){
            const pai = Majiang.UI.pai('#loaddata');
            function submit() {
                let paistr  = $('[name="shoupai"]').val();
                let open    = ! $('[name="open"]').prop('checked');
                let shoupai = [];
                $('body .shoupai').each((i, n)=>{
                    let s = Majiang.Shoupai.fromString(paistr);
                    shoupai.push(
                        new Majiang.UI.Shoupai($(n), pai, s).redraw(open)
                    );
                    let zimo = (s.get_dapai() || []).pop() || '';
                    $('.bingpai .zimo', $(n)).attr('data-pai', zimo + '_');
                });
                $('.bingpai .pai').on('click', (ev)=>{
                    let p = $(ev.target).attr('data-pai');
                    $(ev.target).addClass('dapai');
                    shoupai.forEach(s => s.dapai(p));
                    $('.bingpai .pai').off('click');
                });
                return false;
            }
            $('form').on('submit', submit);
        });
  body.shoupai
    h1 shoupai
    include ../inc/loaddata
    form
      input(name="shoupai" size="28")
      label
        input(name="open" type="checkbox" value="1")
        | 伏せ牌
      input(type="submit")
    div
      - for (let i = 0; i < 3; i++)
        .shoupai
          .bingpai
          .fulou
